* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI';
    text-decoration: none;
    resize: none;
    
}

#main {
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#container-fluid {
    
}

#column {
    
}


#card {

}

#login_box {
    background-color: rgb(255, 255, 255);
    text-decoration-color: rgb(1, 22, 30);
}

#login_header {
    background-color: rgb(1, 22, 30);
    text-decoration-color: rgb(255, 255, 255);
}

#login_enter_box {
    
}

#remember {

}


#login {

}

#profile_name {
    background-color: rgb(255, 255, 255);
    text-decoration-color: rgb(1, 22, 30);
}   

#forum {
    background-color: rgb(255, 255, 255);
    text-decoration-color: rgb(1, 22, 30);
}

#studies {
    background-color: rgb(255, 255, 255);
    text-decoration-color: rgb(1, 22, 30);
}

#forums {
    background-color: rgb(1, 22, 30);
    text-decoration-color: rgb(255, 255, 255);
}

#message {

}

#send_message {

}

#players {
    
}

#rating_type {

}

#player {
    background-color: rgb(1, 22, 30);
    text-decoration-color: rgb(255, 255, 255);
}

#table {

}

