.bg-body-nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration-color: rgb(255, 255, 255);
    background-color: rgb(1, 22, 30);
    justify-content: space-between;
   
}

#nav > h1 {
    margin-right: 15px;
}

#nav > a > img {
    height: 100%
}

#nav > #buttons_left {
    display: flex;
    align-items: center;
    text-align: left;
   
}


#nav > #buttons_left > a {
    color: white; 
    
}

#nav > #buttons_right {
    display: flex;
    align-items: center;
   
}

#nav > #buttons_right > a {
    color: white;   
}



