.bg-body-nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration-color: rgb(255, 255, 255);
    background-color: rgb(1, 22, 30);
    justify-content: space-between;
}

.a > text {
    text-decoration-color: rgb(255, 255, 255);
}