* {
    margin:  0px;
    padding: 0px;
    font-family: 'Segoe UI';
    text-decoration: bold;
    resize: none;
    align-self: center;
}

body {
    min-height: 100vh;
    position: relative;
}

#main {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    
}



#profile_name {
    background-color: white;
    text-decoration-color: var(--black);
}   

#forum {
    background-color: white;
    text-decoration-color: var(--black);
}

#studies {
    background-color: white;
    text-decoration-color: var(--black);
}

#forums {
    background-color: var(--black);
    text-decoration-color: white;
}

#player {
    background-color: var(--black);
    text-decoration-color: rgb(245,245,245);
}

.h2 {
    font: bold;
}

.h3 {
    font: bold;
    background-color: var(--black);
    text-decoration-color: white; 
}

p {
    font-size: large;
}

#button {
    color: white;
}

.material-symbols-outlined {
    color: white;
}

.bg-body-title {
    text-decoration-color: white;
    background-color: var(--black);
}

.card {
   align-items: center;

}

.card-header {
    background-color: var(--black);
    width: 100%;
    
}

.card > a {
    text-decoration: none;
    color: white;
}

.card1 > a {
    text-decoration: none;
    color:var(--black);
    width: 50%;
}



.col-1 > a {
    text-decoration: none;
    color: var(--black);
}

.form-floating {
    padding-bottom: 15px;
    
}

.card-header {
    background-color: var(--black) !important;
    color: white !important; 
}

.card-body1 {
    background-color: white !important; 
    color: var(--black) !important;
    text-align: left !important;
}