/* Gavith */
.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.games > div {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    margin-bottom: 3.75rem;
}

.games * {
    white-space: nowrap;
}

.games p {
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}