/* Bailey */
.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
}


.games > .card {
    margin-bottom: 3.75rem;
    text-decoration: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.games .card .card-header p {
    text-align: center;
}

.games * {
    white-space: nowrap;
}

.games p {
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}