/* Bailey */
.tournament-table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tournament-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tournament-table tr:nth-child(even) {
    background-color: #dddddd;
}