.footer {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration-color: white;
    background-color: var(--black);
    justify-content: space-between;
    position: sticky;
    bottom: 0px;
}

.a > text {
    text-decoration-color: white;
}