* {
    margin:  0px;
    padding: 0px;
    font-family: 'Segoe UI';
    text-decoration: bold;
    resize: none;
    align-self: center;
}
html {
    background-color: rgb(1, 22, 30);
}
body {
    min-height: 100vh;
    position: relative;
}
#main {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;    
}
#main-strip {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
/* Size is larger than 900px */
@media not all and (max-width: 900px) {
    #main-strip {
        max-width: 70vw;
    }
}
/* Size is smaller than 900px */
@media all and (max-width: 900px) {
    #main-strip {
        max-width: 90vw;
    }
}

h1, h2, h3, h4, h5 { font-weight: 600 !important; }
h1 {
    text-align: center;
}

.p, .list {
    font-size: 13pt;
}

.material-symbols-outlined {
    color: white;
}

.card {
   align-items: center;

}
.card-header {
    background-color: rgb(1, 22, 30) !important;
    text-decoration-color: white !important;
    color: white !important;
    width: 100%; 
}
.card-body {
    width: 100%;
    padding: 0px !important;
}
.card > a {
    text-decoration: none;
}

.dark-link {
    color: #779bb1;
    text-decoration-color: #779bb1;
}

.form-floating {
    padding-bottom: 15px;   
}