.upcoming-tournaments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.upcoming-tournaments > div {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    margin-bottom: 3.75rem;
}

.upcoming-tournaments * {
    width: 15rem;
    white-space: nowrap;
}

.upcoming-tournaments p {
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}