.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.board {
    margin-bottom: 20px;
}

.rank {
    display: flex;
}

.square {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.square.white {
    background-color: #d5e1e5;
}
.square.black {
    background-color: #779bb1;
}

 
/* Piece definitions */
.square > .piece {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Placeholer colours and borders for identification */
.piece.black.R { background-image: url("../../../res/pieces/blackR.svg"); }
.piece.black.N { background-image: url("../../../res/pieces/blackN.svg"); }
.piece.black.B { background-image: url("../../../res/pieces/blackB.svg"); }
.piece.black.Q { background-image: url("../../../res/pieces/blackQ.svg"); }
.piece.black.K { background-image: url("../../../res/pieces/blackK.svg"); }
.piece.black.P { background-image: url("../../../res/pieces/blackP.svg"); }

.piece.white.R { background-image: url("../../../res/pieces/whiteR.svg"); }
.piece.white.N { background-image: url("../../../res/pieces/whiteN.svg"); }
.piece.white.B { background-image: url("../../../res/pieces/whiteB.svg"); }
.piece.white.Q { background-image: url("../../../res/pieces/whiteQ.svg"); }
.piece.white.K { background-image: url("../../../res/pieces/whiteK.svg"); }
.piece.white.P { background-image: url("../../../res/pieces/whiteP.svg"); }

.arrow {
    position: absolute;
    width: 0;
    height: 0;
}

.arrow>div {
    background-color:rgba(227, 121, 27, 0.75);
    position: relative;
}

.arrow>img {
    position: relative;
}

.arrow>.arrowHead {
    -webkit-transform: rotate(90deg);
}

.selected {
    background-color: rgb(158, 84, 19) !important;
}

.next-move, .last-move {
    background-color: rgb(1, 22, 30);
    color: white;
    border: none;
    width:10vw;
    height:5vw;
    border-radius: 1vw;
    font-size: 2em;
    text-align: center;
}